<div class="contianer">
  <h2>Houses</h2>
<br><br>
<div class="container-fluid">
  <div class="row" *ngIf=" allHouses.length > 0">
    <div class="col" *ngFor="let house of allHouses">
      <div class="card" style="width: 18rem;height: 15rem;" >
        <div class="card-body">
          <h5 class="card-title"> {{ house.name }} </h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="card-link" [routerLink]="['/houses',house.name]" >Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>