:root{
    font-size: 16px;
}

.book{
    padding: 0.2rem;
    
}
.book .card{
    box-sizing: border-box;
    box-shadow: 0px 0px 1px rgb(0,0,0);
    background: rgba(42, 187, 155, 0.4);
    color: rebeccapurple;
}

.book .card:hover{
    box-shadow: 0px 0px 5px 1px rgb(0,0,0);
}

